FORMAT: 1A
HOST: http://api.unitwise.org/

# Unitwise API

Unitwise is a RESTful JSON API for converting and performing calculations on physical quantities or units of measure.

# Units [/units.json?q={query}]

A unit has many designations. Use this endpoint to find the unit(s) you are interested in.

## Search Available [GET]

+ Parameters
    + query (required, string) ... The term to search for.
+ Response 200 (application/json)
    + Body
    
            [["km","kilometer"]]


# Conversions [/conversions.json]

Convert a measurement to another unit. For example, convert 3 feet to yards.

Conversions have a `source` measurement, a `target` unit, and a `result` measurement. The `source` and `target` have both a `value` (Numeric) and a `unit` (String).

## Create [POST]

Provide a `source` measurement and a `target` unit to recieve a `result` measurement.

+ Request (application/json)

        {
            "source": {
                "value": 3,
                "unit": "foot"
            },
            "target": "yard"
        }

+ Response 200 (application/json)

        {
            "source": {
                "value": 3,
                "unit": "foot"
            },
            "target": "yard"
            "result": {
                "value": 1,
                "unit": "yard"
            }
        }

# Calculations [/calculations.json]

Perform a calculation on two measurements. For example, add 3 feet to 1 yard.

Calculations have a `left`, `right`, an `operator`, and a `result`. `left`, `right`, and `result` have a `value` (Numeric) and a `unit` (String)..

## Create [POST]

Provide a `left` and `right` measurement, and an `operator` ('+','-','*','/') to get a `result`. `left` and `right` do not have to be the same unit, but they should be compatible (i.e. both length).

+ Request (application/json)

        {
            "left": {
                "value": 3,
                "unit": "foot"
            },
            "right": {
                "value": 1,
                "unit": "yard",
            },
            "operator": "+"
        }
        
+ Response 200 (application/json)

        {
            "left": {
                "value": 3,
                "unit": "foot"
            },
            "right": {
                "value": 1,
                "unit": "yard",
            },
            "operator": "+",
            "result": {
                 "value": 6,
                 "unit": "foot"
            }
        }

